.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.intro {
  color: white;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2.75em;
  font-weight: 600;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.tagline {
  font-size: 3.0rem;
  margin: 1.5rem 0;
  font-family: monospace;
  font-weight: 100;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.icons-social i {
  padding: 10px;
  font-size: 2em;
}

.icons-social a :hover {
  color: #11ABB0;;
}

.day .App-main {
  background-color: #282c34;
  color: white;
}

.day .icons-social a {
  color: #fafafa;
}

.day .icons-social a svg path {
  fill: #fafafa;
}

.super {
  vertical-align: super;
}


.software-skill-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.skillimage {
  height: 80px;
}
