name: Deployment

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]

jobs:
  Testing:
    name: Testing
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Installing the necessary depenedencies
        run: npm install

      - name: Test cases run
        run: npm test

  Deploying:
    name: Deploying
    runs-on: ubuntu-latest

    needs: Testing

    steps:
      - uses: actions/checkout@v2

      - name: Installing the necessary depenedencies
        run: npm install

      - name: Setting up github credentials
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git remote rm origin
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}

      - name: Running build and deploy
        run: npm run deploy
        env:
          CI: false
